@font-face {
  font-family: OpenSans-Bold;
  src: url(C://MQ_diplom/fonts/OpenSans-Bold.ttf);
  src: url(C://MQ_diplom/fonts/OpenSans-Bold.woff);
  src: url(C://MQ_diplom/fonts/OpenSans-Bold.woff2);
  src: url(C://MQ_diplom/fonts/OpenSans-Regular.ttf);
  src: url(C://MQ_diplom/fonts/OpenSans-Bold.woff);
  src: url(C://MQ_diplom/fonts/OpenSans-Bold.woff2);
  font-weight: normal;
  font-style: normal;
}



@media (max-width: 320px) {
  body {
  margin: 0;
}
.page_top {
  position: relative;
  width: 100%;
  min-height: 565px;
  background-image: url("C:/MQ_diplom/images/football_767.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 135%;
  background-color: #000000;
}
.page_top::after {
  content: "";
  background-color: #0a0e34;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.top {
  position: relative;
  z-index: 2;
}

.logo {
  width: 133px;
  margin-left: auto;
  margin-right: auto;
  padding-top:  30px;
  }
h1 {
  font-size: 28px;
  font-family: OpenSans-Bold;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.first {
  display: block;
  margin-left: 20px;
  margin-top: 130px;
}

.second {
  display: block;
  margin-left: 55px;
  margin-top: 10px;
}

.button_menu {
  width: 280px;
  height: 100px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

svg {
  margin-right: 10px;
}

a{
  box-sizing: border-box;
  margin-bottom: 15px;
  display: flex;
  height: 35px;
  text-decoration:none;
  font-family: OpenSans-Regular;
  text-transform: uppercase;
  font-size: 8px;
  color: #ffffff;
  background-color:#5e42b0;
  border-radius: 30px;
  align-items: center;
  padding-left: 100px;
}

a:hover {
  background: #786b59;
}


.main_page {
  position: relative;
  height: 50vh;
  background-image: url("C:/MQ_diplom/images/footballer_192.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto%;
  background-color: #ffffff;
}

h2 {
  font-family: OpenSans-bold;
  text-transform: uppercase;
  font-size: 50px;
  color: #e7e7e7;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 30px;
}


}
