@font-face {
  font-family: "OpenSans-Bold";
  src: url("MQdiplom/fonts/OpenSans-Bold.ttf");
  src: url("MQdiplom/fonts/OpenSans-Bold.woff");
  src: url("MQdiplom/fonts/OpenSans-Bold.woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("MQdiplom/fonts/OpenSans-Regular.ttf");
  src: url("MQdiplom/fonts/OpenSans-Regular.woff");
  src: url("MQdiplom/fonts/OpenSans-Regular.woff2");
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 320px) {
  body {
    margin: 0;
  }

.page_top {
  position: relative;
  width: 320px;
  min-height: 565px;
  background-image: url("../MQdiplom/images/football_767.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 135%;
  background-color: #000000;
}
.page_top::after {
  content: "";
  background-color: #0a0e34;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.top {
  position: relative;
  z-index: 1;
}

.logo {
  width: 133px;
  margin-left: auto;
  margin-right: auto;
  padding-top:  30px;
}

h1,h13 {
  font-size: 28px;
  font-family: "OpenSans-Bold";
  text-transform: uppercase;
  color: #ffffff;
}

.first {
  display: block;
  margin-left: 20px;
  margin-top: 130px;
}

.second {
  display: block;
  margin-left: 55px;
  margin-top: 10px;
}

.button_menu {
  width: 280px;
  height: 100px;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;

}

svg {
  margin-right: 10px;
}

a{
  box-sizing: border-box;
  margin-bottom: 15px;
  display: flex;
  height: 35px;
  text-decoration:none;
  font-family: "OpenSans-Regular";
  text-transform: uppercase;
  font-size: 8px;
  color: #ffffff;
  background-color:#5e42b0;
  border-radius: 30px;
  align-items: center;
  padding-left: 80px;
}

a:hover {
  background: #786b59;
}

.layer_footballer {
  position: relative;
  width: 320px;
  height: 520px;
  background-image: url("../MQdiplom/images/footballer_192.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

h2, h6 {
  font-family: "OpenSans-Bold";
  text-transform: uppercase;
  font-size: 50px;
  color: #e7e7e7;
  position: relative;
  padding-top: 10px;
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.layer_background_footballer_1 {
  position: relative;
  background-color: #fafafa ;
  width: 320px;
  height: 212px;
  top: -160px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.number_position,.number_position_2,.number_position_3 {
  display: flex;
  flex-direction: column;
  font-family: "OpenSans-Bold";
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  position: relative;
  padding-top: 3px;
  padding-right: 5px;
}

.number_position::after  {
  content: "";
  width: 15px;
	height: 4px;
  border-radius: 20px;
	background: #5e42b0;
}

h3,h4,h5,h7,h8,h9 {
  display: flex;
  font-family: "OpenSans-Bold";
  text-transform: uppercase;
  font-size: 23px;
  color: #c1c1c1;
  position: relative;
  padding-top: 60px;
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 20px;
}

h3, h7 {
padding-top: 80px;
}

span.context, span.context_2 {
  display: block;
  width: 270px;
  font-family: "OpenSans-Regular";
  font-size: 16px;
  color: #000000;
  margin-left: 20px;
  line-height: 20px;
}

.layer_background_footballer_2 {
  position: relative;
  background-color: #f5f4f9 ;
  width: 320px;
  height: 280px;
  top: -160px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.layer_background_footballer_3 {
  position: relative;
  background-color: #5e42b0 ;
  width: 320px;
  height: 230px;
  top: -160px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.number_position_2::after  {
  content: "";
  width: 15px;
	height: 4px;
  border-radius: 20px;
	background: #ffffff;
}

span.context_2 {
  color: #ffffff;
}

.layer_basketballer {
  position: relative;
  width: 320px;
  height: 400px;
  background-image: url("../MQdiplom/images/basketballer_302.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  top: -160px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.layer_background_basketballer_1 {
  position: relative;
  background-color: #fafafa ;
  width: 320px;
  height: 250px;
  top: -250px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.layer_background_basketballer_2 {
  position: relative;
  background-color: #f5f4f9 ;
  width: 320px;
  height: 190px;
  top: -250px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.layer_background_basketballer_3 {
  position: relative;
  background-color: #090c35;
  width: 320px;
  height: 230px;
  top: -250px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.number_position_3 {
  color: #5e42b0;
}

.number_position_3::after  {
  content: "";
  width: 15px;
	height: 4px;
  border-radius: 20px;
	background: #ffffff;
}

.layer_be_active {
  position: relative;
  width: 320px;
  height: 350px;
  background-image: url("../MQdiplom/images/be-active_640.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  top: -250px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.number_position_4 {
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 70px;
  background: #5e42b0;
  font-family: "OpenSans-Bold";
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  position: relative;
  top: 295px;
  left: 20px;
  right: 0;
  bottom: 0;
}

.number_position_4::after  {
  display: block;
  content: " ";
  width: 16px;
	height: 4px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
	background: #8f7bc8;
}

.layer_background_be_active {
  display: block;
  position: relative;
  background-color: #ffffff;
  width: 320px;
  height: 180px;
  top: -250px;
  left: 0;
  right: 0;
  bottom: 0;
}

h10,h11,h12 {
  display: block;
  font-family: "OpenSans-Bold";
  text-transform: uppercase;
  font-size: 28px;
  color: #e7e7e7;
  position: relative;
  margin-top: 35px;
  margin-left: 20px;
  padding-bottom: 20px;
}

.layer_background_be_active_2 {
  position: relative;
  width: 320px;
  height:  350px;
  background-image: url("../MQdiplom/images/find-contact_640.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  top: -250px;
  left: 0;
  right: 0;
  bottom: 0;
}

.layer_background_be_active_3 {
  display: block;
  position: relative;
  background-color: #ffffff;
  width: 320px;
  height: 180px;
  top: -250px;
  left: 0;
  right: 0;
  bottom: 0;
}

.layer_background_be_active_4 {
  position: relative;
  width: 320px;
  height:  350px;
  background-image: url("../MQ_diplom/images/work-it_640.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  top: -250px;
  left: 0;
  right: 0;
  bottom: 0;
}

.layer_background_be_active_5 {
  display: block;
  position: relative;
  background-color: #ffffff;
  width: 320px;
  height: 180px;
  top: -250px;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer {
  position: relative;
  width: 100%;
  min-height: 565px;
  background-image: url("../MQ_diplom/images/game_767.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  top: -250px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.footer::after {
  content: "";
  background-color: #0a0e34;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.logo_footer {
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 70px;
  background: #5e42b0;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
}

h13 {
  font-size: 32px;
  display: block;
  position: relative;
  margin-top: 150px;
  left: 15px;
  right: 0;
  bottom: 0;
}

h14 {
  font-family: "OpenSans-Regular";
  text-transform: uppercase;
  font-size: 14px;
  color: #9589bb;
  position: relative;
  padding-top: 0px;
  margin-top: 0px;
  margin-left: 20px;
}

.end {
  position: relative;
  z-index: 3;
}

.logo_footer_2 {
  width: 133px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}
}
